body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*NAV BAR*/

.big{
  font-weight: 900;
}

.iconBtnColor{
  color:black;

}


.tagline{
  color:white;
}

/*HERO*/

.banner{
  background-image: url("https://images.pexels.com/photos/3738755/pexels-photo-3738755.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height: 90vh;
}

.cover{
  width:100%;
  height:90vh;
  background-color: black;
  opacity: 0.4;
}
















/*TAILWIND CSS*/

@tailwind base;
@tailwind components;
@tailwind utilities;